In [1]:
from langchain.utilities import SQLDatabase
from langchain_openai import OpenAI
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType

# loads the .env file
from dotenv import load_dotenv
load_dotenv()

import langchain
langchain.debug = True

In [2]:
db = SQLDatabase.from_uri("sqlite:///chinook.db")

# check that the database has been instantiated correctly
db.get_usable_table_names()

['albums',
 'artists',
 'customers',
 'employees',
 'genres',
 'invoice_items',
 'invoices',
 'media_types',
 'playlist_track',
 'playlists',
 'tracks']

In [3]:
llm = OpenAI(temperature=0, verbose=True)

In [4]:
agent_executor = create_sql_agent(
    llm=llm,
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [5]:
agent_executor.run(
    "How many employees are there?"
)

/Users/harrywang/sandbox/ai-tutorials/venv/lib/python3.10/site-packages/langchain_core/_api/deprecation.py:117: LangChainDeprecationWarning: The function `run` was deprecated in LangChain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

[chain/start] [1:chain:SQL Agent Executor] Entering Chain run with input:
{
  "input": "How many employees are there?"
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad> > 5:chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad> > 5:chain:RunnableLambda] [1ms] Exiting Chain run with output:
{
  "output": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad>] [2ms] Exiting Chain run with output:
{
  "agent_scratchpad": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad>] [6ms] Exiting Chain run with output:
{
  "input": "How many employees are there?",
  "intermediate_steps": [],
  "agent_scratchpad": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 6:prompt:PromptTemplate] Entering Prompt run with input:
{
  "input": "How many employees are there?",
  "intermediate_steps": [],
  "agent_scratchpad": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 6:prompt:PromptTemplate] [1ms] Exiting Prompt run with output:
[outputs]
[llm/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 7:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [
    "Answer the following questions as best you can. You have access to the following tools:\n\nsql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables: Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: How many employees are there?\nThought:"
  ]
}
[llm/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 7:llm:OpenAI] [747ms] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": " I need to query the database to get the number of employees.\nAction: sql_db_query\nAction Input: SELECT COUNT(*) FROM employees",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "Generation"
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 8:parser:ReActSingleInputOutputParser] Entering Parser run with input:
{
  "input": " I need to query the database to get the number of employees.\nAction: sql_db_query\nAction Input: SELECT COUNT(*) FROM employees"
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 8:parser:ReActSingleInputOutputParser] [1ms] Exiting Parser run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence] [771ms] Exiting Chain run with output:
[outputs]
[tool/start] [1:chain:SQL Agent Executor > 9:tool:sql_db_query] Entering Tool run with input:
"SELECT COUNT(*) FROM employees"
[tool/end] [1:chain:SQL Agent Executor > 9:tool:sql_db_query] [3ms] Exiting Tool run with output:
"[(8,)]"
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad> > 13:chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad> > 13:chain:RunnableLambda] [0ms] Exiting Chain run with output:
{
  "output": " I need to query the database to get the number of employees.\nAction: sql_db_query\nAction Input: SELECT COUNT(*) FROM employees\nObservation: [(8,)]\nThought: "
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad>] [1ms] Exiting Chain run with output:
{
  "agent_scratchpad": " I need to query the database to get the number of employees.\nAction: sql_db_query\nAction Input: SELECT COUNT(*) FROM employees\nObservation: [(8,)]\nThought: "
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad>] [4ms] Exiting Chain run with output:
[outputs]
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 14:prompt:PromptTemplate] Entering Prompt run with input:
[inputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 14:prompt:PromptTemplate] [0ms] Exiting Prompt run with output:
[outputs]
[llm/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 15:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [
    "Answer the following questions as best you can. You have access to the following tools:\n\nsql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables: Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: How many employees are there?\nThought: I need to query the database to get the number of employees.\nAction: sql_db_query\nAction Input: SELECT COUNT(*) FROM employees\nObservation: [(8,)]\nThought:"
  ]
}
[llm/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 15:llm:OpenAI] [454ms] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "8 is the number of employees.\nFinal Answer: 8",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "Generation"
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 16:parser:ReActSingleInputOutputParser] Entering Parser run with input:
{
  "input": "8 is the number of employees.\nFinal Answer: 8"
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 16:parser:ReActSingleInputOutputParser] [1ms] Exiting Parser run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence] [467ms] Exiting Chain run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor] [1.28s] Exiting Chain run with output:
{
  "output": "8"
}

'8'

In [12]:
agent_executor_simple = create_sql_agent(
    llm=llm,
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

agent_executor_simple.run(
    "How many employees are there?"
)

[chain/start] [1:chain:SQL Agent Executor] Entering Chain run with input:
{
  "input": "How many employees are there?"
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad> > 5:chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad> > 5:chain:RunnableLambda] [1ms] Exiting Chain run with output:
{
  "output": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad>] [3ms] Exiting Chain run with output:
{
  "agent_scratchpad": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad>] [6ms] Exiting Chain run with output:
{
  "input": "How many employees are there?",
  "intermediate_steps": [],
  "agent_scratchpad": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 6:prompt:PromptTemplate] Entering Prompt run with input:
{
  "input": "How many employees are there?",
  "intermediate_steps": [],
  "agent_scratchpad": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 6:prompt:PromptTemplate] [94ms] Exiting Prompt run with output:
[outputs]
[llm/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 7:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [
    "Answer the following questions as best you can. You have access to the following tools:\n\nsql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables: Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: How many employees are there?\nThought:"
  ]
}
[llm/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 7:llm:OpenAI] [576ms] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": " I need to query the database to get the number of employees.\nAction: sql_db_query\nAction Input: SELECT COUNT(*) FROM employees",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "Generation"
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 8:parser:ReActSingleInputOutputParser] Entering Parser run with input:
{
  "input": " I need to query the database to get the number of employees.\nAction: sql_db_query\nAction Input: SELECT COUNT(*) FROM employees"
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 8:parser:ReActSingleInputOutputParser] [0ms] Exiting Parser run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence] [682ms] Exiting Chain run with output:
[outputs]
[tool/start] [1:chain:SQL Agent Executor > 9:tool:sql_db_query] Entering Tool run with input:
"SELECT COUNT(*) FROM employees"
[tool/end] [1:chain:SQL Agent Executor > 9:tool:sql_db_query] [2ms] Exiting Tool run with output:
"[(8,)]"
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad> > 13:chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad> > 13:chain:RunnableLambda] [1ms] Exiting Chain run with output:
{
  "output": " I need to query the database to get the number of employees.\nAction: sql_db_query\nAction Input: SELECT COUNT(*) FROM employees\nObservation: [(8,)]\nThought: "
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad>] [2ms] Exiting Chain run with output:
{
  "agent_scratchpad": " I need to query the database to get the number of employees.\nAction: sql_db_query\nAction Input: SELECT COUNT(*) FROM employees\nObservation: [(8,)]\nThought: "
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad>] [4ms] Exiting Chain run with output:
[outputs]
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 14:prompt:PromptTemplate] Entering Prompt run with input:
[inputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 14:prompt:PromptTemplate] [0ms] Exiting Prompt run with output:
[outputs]
[llm/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 15:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [
    "Answer the following questions as best you can. You have access to the following tools:\n\nsql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables: Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: How many employees are there?\nThought: I need to query the database to get the number of employees.\nAction: sql_db_query\nAction Input: SELECT COUNT(*) FROM employees\nObservation: [(8,)]\nThought:"
  ]
}
[llm/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 15:llm:OpenAI] [484ms] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "8 is the number of employees.\nFinal Answer: 8",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "Generation"
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 16:parser:ReActSingleInputOutputParser] Entering Parser run with input:
{
  "input": "8 is the number of employees.\nFinal Answer: 8"
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 16:parser:ReActSingleInputOutputParser] [0ms] Exiting Parser run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence] [495ms] Exiting Chain run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor] [1.19s] Exiting Chain run with output:
{
  "output": "8"
}

'8'

In [6]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools")
agent_executor.invoke(
    "List the total sales per country. Which country's customers spent the most?"
)

[chain/start] [1:chain:SQL Agent Executor] Entering Chain run with input:
{
  "input": "List the total sales per country. Which country's customers spent the most?"
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad> > 5:chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad> > 5:chain:RunnableLambda] [6ms] Exiting Chain run with output:
{
  "output": []
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad>] [9ms] Exiting Chain run with output:
{
  "agent_scratchpad": []
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad>] [12ms] Exiting Chain run with output:
{
  "input": "List the total sales per country. Which country's customers spent the most?",
  "intermediate_steps": [],
  "agent_scratchpad": []
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 6:prompt:ChatPromptTemplate] Entering Prompt run with input:
{
  "input": "List the total sales per country. Which country's customers spent the most?",
  "intermediate_steps": [],
  "agent_scratchpad": []
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 6:prompt:ChatPromptTemplate] [1ms] Exiting Prompt run with output:
[outputs]
[llm/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 7:llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "System: You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\nHuman: List the total sales per country. Which country's customers spent the most?\nAI: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables."
  ]
}
[llm/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 7:llm:ChatOpenAI] [517ms] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "",
        "generation_info": {
          "finish_reason": "tool_calls"
        },
        "type": "ChatGenerationChunk",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessageChunk"
          ],
          "kwargs": {
            "content": "",
            "example": false,
            "additional_kwargs": {
              "tool_calls": [
                {
                  "index": 0,
                  "id": "call_JKFN449xJR1aJDF6OZyYOtdp",
                  "function": {
                    "arguments": "{\"tool_input\":\"\"}",
                    "name": "sql_db_list_tables"
                  },
                  "type": "function"
                }
              ]
            },
            "response_metadata": {
              "finish_reason": "tool_calls"
            }
          }
        }
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 8:parser:OpenAIToolsAgentOutputParser] Entering Parser run with input:
[inputs]
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 8:parser:OpenAIToolsAgentOutputParser] [0ms] Exiting Parser run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence] [540ms] Exiting Chain run with output:
[outputs]
[tool/start] [1:chain:SQL Agent Executor > 9:tool:sql_db_list_tables] Entering Tool run with input:
"{'tool_input': ''}"
[tool/end] [1:chain:SQL Agent Executor > 9:tool:sql_db_list_tables] [0ms] Exiting Tool run with output:
"albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks"
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad> > 13:chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad> > 13:chain:RunnableLambda] [0ms] Exiting Chain run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad>] [1ms] Exiting Chain run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad>] [3ms] Exiting Chain run with output:
[outputs]
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 14:prompt:ChatPromptTemplate] Entering Prompt run with input:
[inputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 14:prompt:ChatPromptTemplate] [0ms] Exiting Prompt run with output:
[outputs]
[llm/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 15:llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "System: You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\nHuman: List the total sales per country. Which country's customers spent the most?\nAI: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.\nAI: \nTool: albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks"
  ]
}
[llm/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 15:llm:ChatOpenAI] [856ms] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "",
        "generation_info": {
          "finish_reason": "tool_calls"
        },
        "type": "ChatGenerationChunk",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessageChunk"
          ],
          "kwargs": {
            "content": "",
            "example": false,
            "additional_kwargs": {
              "tool_calls": [
                {
                  "index": 0,
                  "id": "call_R30OPvGZk9TZU4m6kET15p79",
                  "function": {
                    "arguments": "{\"table_names\":\"customers, invoices\"}",
                    "name": "sql_db_schema"
                  },
                  "type": "function"
                }
              ]
            },
            "response_metadata": {
              "finish_reason": "tool_calls"
            }
          }
        }
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 16:parser:OpenAIToolsAgentOutputParser] Entering Parser run with input:
[inputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 16:parser:OpenAIToolsAgentOutputParser] [1ms] Exiting Parser run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence] [866ms] Exiting Chain run with output:
[outputs]
[tool/start] [1:chain:SQL Agent Executor > 17:tool:sql_db_schema] Entering Tool run with input:
"{'table_names': 'customers, invoices'}"
[tool/end] [1:chain:SQL Agent Executor > 17:tool:sql_db_schema] [9ms] Exiting Tool run with output:
"CREATE TABLE customers (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES employees ("EmployeeId")
)

/*
3 rows from customers table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE invoices (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES customers ("CustomerId")
)

/*
3 rows from invoices table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2009-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2009-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2009-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/"
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad> > 20:chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad> > 20:chain:RunnableParallel<agent_scratchpad> > 21:chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad> > 20:chain:RunnableParallel<agent_scratchpad> > 21:chain:RunnableLambda] [1ms] Exiting Chain run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad> > 20:chain:RunnableParallel<agent_scratchpad>] [2ms] Exiting Chain run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad>] [4ms] Exiting Chain run with output:
[outputs]
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 22:prompt:ChatPromptTemplate] Entering Prompt run with input:
[inputs]
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 22:prompt:ChatPromptTemplate] [0ms] Exiting Prompt run with output:
[outputs]
[llm/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 23:llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "System: You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\nHuman: List the total sales per country. Which country's customers spent the most?\nAI: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.\nAI: \nTool: albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks\nAI: \nTool: \nCREATE TABLE customers (\n\t\"CustomerId\" INTEGER NOT NULL, \n\t\"FirstName\" NVARCHAR(40) NOT NULL, \n\t\"LastName\" NVARCHAR(20) NOT NULL, \n\t\"Company\" NVARCHAR(80), \n\t\"Address\" NVARCHAR(70), \n\t\"City\" NVARCHAR(40), \n\t\"State\" NVARCHAR(40), \n\t\"Country\" NVARCHAR(40), \n\t\"PostalCode\" NVARCHAR(10), \n\t\"Phone\" NVARCHAR(24), \n\t\"Fax\" NVARCHAR(24), \n\t\"Email\" NVARCHAR(60) NOT NULL, \n\t\"SupportRepId\" INTEGER, \n\tPRIMARY KEY (\"CustomerId\"), \n\tFOREIGN KEY(\"SupportRepId\") REFERENCES employees (\"EmployeeId\")\n)\n\n/*\n3 rows from customers table:\nCustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\tSupportRepId\n1\tLuís\tGonçalves\tEmbraer - Empresa Brasileira de Aeronáutica S.A.\tAv. Brigadeiro Faria Lima, 2170\tSão José dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 (12) 3923-5566\tluisg@embraer.com.br\t3\n2\tLeonie\tKöhler\tNone\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t+49 0711 2842222\tNone\tleonekohler@surfeu.de\t5\n3\tFrançois\tTremblay\tNone\t1498 rue Bélanger\tMontréal\tQC\tCanada\tH2G 1A7\t+1 (514) 721-4711\tNone\tftremblay@gmail.com\t3\n*/\n\n\nCREATE TABLE invoices (\n\t\"InvoiceId\" INTEGER NOT NULL, \n\t\"CustomerId\" INTEGER NOT NULL, \n\t\"InvoiceDate\" DATETIME NOT NULL, \n\t\"BillingAddress\" NVARCHAR(70), \n\t\"BillingCity\" NVARCHAR(40), \n\t\"BillingState\" NVARCHAR(40), \n\t\"BillingCountry\" NVARCHAR(40), \n\t\"BillingPostalCode\" NVARCHAR(10), \n\t\"Total\" NUMERIC(10, 2) NOT NULL, \n\tPRIMARY KEY (\"InvoiceId\"), \n\tFOREIGN KEY(\"CustomerId\") REFERENCES customers (\"CustomerId\")\n)\n\n/*\n3 rows from invoices table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPostalCode\tTotal\n1\t2\t2009-01-01 00:00:00\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2009-01-02 00:00:00\tUllevålsveien 14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2009-01-03 00:00:00\tGrétrystraat 63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/"
  ]
}
[llm/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 23:llm:ChatOpenAI] [759ms] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "",
        "generation_info": {
          "finish_reason": "tool_calls"
        },
        "type": "ChatGenerationChunk",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessageChunk"
          ],
          "kwargs": {
            "content": "",
            "example": false,
            "additional_kwargs": {
              "tool_calls": [
                {
                  "index": 0,
                  "id": "call_mi1BlJwezVZEHdZ5kmD1a9tC",
                  "function": {
                    "arguments": "{\"query\":\"SELECT BillingCountry, SUM(Total) AS TotalSales FROM invoices GROUP BY BillingCountry ORDER BY TotalSales DESC\"}",
                    "name": "sql_db_query"
                  },
                  "type": "function"
                }
              ]
            },
            "response_metadata": {
              "finish_reason": "tool_calls"
            }
          }
        }
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 24:parser:OpenAIToolsAgentOutputParser] Entering Parser run with input:
[inputs]
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 24:parser:OpenAIToolsAgentOutputParser] [1ms] Exiting Parser run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence] [773ms] Exiting Chain run with output:
[outputs]
[tool/start] [1:chain:SQL Agent Executor > 25:tool:sql_db_query] Entering Tool run with input:
"{'query': 'SELECT BillingCountry, SUM(Total) AS TotalSales FROM invoices GROUP BY BillingCountry ORDER BY TotalSales DESC'}"
[tool/end] [1:chain:SQL Agent Executor > 25:tool:sql_db_query] [3ms] Exiting Tool run with output:

{'input': "List the total sales per country. Which country's customers spent the most?",
 'output': 'The total sales per country are as follows:\n1. USA: $523.06\n2. Canada: $303.96\n3. France: $195.10\n4. Brazil: $190.10\n5. Germany: $156.48\n\nThe country whose customers spent the most is the USA with a total sales amount of $523.06.'}

In [10]:
# recover from an error
agent_executor.run("Who are the top 3 best selling artists?")

[chain/start] [1:chain:SQL Agent Executor] Entering Chain run with input:
{
  "input": "Who are the top 3 best selling artists?"
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad> > 5:chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad> > 5:chain:RunnableLambda] [1ms] Exiting Chain run with output:
{
  "output": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad> > 4:chain:RunnableParallel<agent_scratchpad>] [2ms] Exiting Chain run with output:
{
  "agent_scratchpad": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 3:chain:RunnableAssign<agent_scratchpad>] [7ms] Exiting Chain run with output:
{
  "input": "Who are the top 3 best selling artists?",
  "intermediate_steps": [],
  "agent_scratchpad": ""
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 6:prompt:PromptTemplate] Entering Prompt run with input:
{
  "input": "Who are the top 3 best selling artists?",
  "intermediate_steps": [],
  "agent_scratchpad": ""
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 6:prompt:PromptTemplate] [0ms] Exiting Prompt run with output:
[outputs]
[llm/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 7:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [
    "Answer the following questions as best you can. You have access to the following tools:\n\nsql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables: Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: Who are the top 3 best selling artists?\nThought:"
  ]
}
[llm/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 7:llm:OpenAI] [1.20s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": " We need to query the database to get the top 3 best selling artists.\nAction: sql_db_query\nAction Input: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "Generation"
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 8:parser:ReActSingleInputOutputParser] Entering Parser run with input:
{
  "input": " We need to query the database to get the top 3 best selling artists.\nAction: sql_db_query\nAction Input: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3"
}
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence > 8:parser:ReActSingleInputOutputParser] [0ms] Exiting Parser run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 2:chain:RunnableSequence] [1.21s] Exiting Chain run with output:
[outputs]
[tool/start] [1:chain:SQL Agent Executor > 9:tool:sql_db_query] Entering Tool run with input:
"SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3"
[tool/end] [1:chain:SQL Agent Executor > 9:tool:sql_db_query] [3ms] Exiting Tool run with output:
"Error: (sqlite3.OperationalError) no such column: artist_name
[SQL: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3]
(Background on this error at: https://sqlalche.me/e/20/e3q8)"
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad> > 13:chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad> > 13:chain:RunnableLambda] [1ms] Exiting Chain run with output:
{
  "output": " We need to query the database to get the top 3 best selling artists.\nAction: sql_db_query\nAction Input: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3\nObservation: Error: (sqlite3.OperationalError) no such column: artist_name\n[SQL: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)\nThought: "
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad> > 12:chain:RunnableParallel<agent_scratchpad>] [2ms] Exiting Chain run with output:
{
  "agent_scratchpad": " We need to query the database to get the top 3 best selling artists.\nAction: sql_db_query\nAction Input: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3\nObservation: Error: (sqlite3.OperationalError) no such column: artist_name\n[SQL: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)\nThought: "
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 11:chain:RunnableAssign<agent_scratchpad>] [4ms] Exiting Chain run with output:
[outputs]
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 14:prompt:PromptTemplate] Entering Prompt run with input:
[inputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 14:prompt:PromptTemplate] [0ms] Exiting Prompt run with output:
[outputs]
[llm/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 15:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [
    "Answer the following questions as best you can. You have access to the following tools:\n\nsql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables: Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: Who are the top 3 best selling artists?\nThought: We need to query the database to get the top 3 best selling artists.\nAction: sql_db_query\nAction Input: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3\nObservation: Error: (sqlite3.OperationalError) no such column: artist_name\n[SQL: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)\nThought:"
  ]
}
[llm/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 15:llm:OpenAI] [722ms] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "We need to use sql_db_schema to check the correct table fields.\nAction: sql_db_schema\nAction Input: artists",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "Generation"
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 16:parser:ReActSingleInputOutputParser] Entering Parser run with input:
{
  "input": "We need to use sql_db_schema to check the correct table fields.\nAction: sql_db_schema\nAction Input: artists"
}
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence > 16:parser:ReActSingleInputOutputParser] [0ms] Exiting Parser run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 10:chain:RunnableSequence] [734ms] Exiting Chain run with output:
[outputs]
[tool/start] [1:chain:SQL Agent Executor > 17:tool:sql_db_schema] Entering Tool run with input:
"artists"
[tool/end] [1:chain:SQL Agent Executor > 17:tool:sql_db_schema] [7ms] Exiting Tool run with output:
"CREATE TABLE artists (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from artists table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/"
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad> > 20:chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad> > 20:chain:RunnableParallel<agent_scratchpad> > 21:chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad> > 20:chain:RunnableParallel<agent_scratchpad> > 21:chain:RunnableLambda] [1ms] Exiting Chain run with output:
{
  "output": " We need to query the database to get the top 3 best selling artists.\nAction: sql_db_query\nAction Input: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3\nObservation: Error: (sqlite3.OperationalError) no such column: artist_name\n[SQL: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)\nThought: We need to use sql_db_schema to check the correct table fields.\nAction: sql_db_schema\nAction Input: artists\nObservation: \nCREATE TABLE artists (\n\t\"ArtistId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"ArtistId\")\n)\n\n/*\n3 rows from artists table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\nThought: "
}
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad> > 20:chain:RunnableParallel<agent_scratchpad>] [3ms] Exiting Chain run with output:
{
  "agent_scratchpad": " We need to query the database to get the top 3 best selling artists.\nAction: sql_db_query\nAction Input: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3\nObservation: Error: (sqlite3.OperationalError) no such column: artist_name\n[SQL: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)\nThought: We need to use sql_db_schema to check the correct table fields.\nAction: sql_db_schema\nAction Input: artists\nObservation: \nCREATE TABLE artists (\n\t\"ArtistId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"ArtistId\")\n)\n\n/*\n3 rows from artists table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\nThought: "
}
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 19:chain:RunnableAssign<agent_scratchpad>] [5ms] Exiting Chain run with output:
[outputs]
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 22:prompt:PromptTemplate] Entering Prompt run with input:
[inputs]
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 22:prompt:PromptTemplate] [0ms] Exiting Prompt run with output:
[outputs]
[llm/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 23:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [
    "Answer the following questions as best you can. You have access to the following tools:\n\nsql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables: Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: Who are the top 3 best selling artists?\nThought: We need to query the database to get the top 3 best selling artists.\nAction: sql_db_query\nAction Input: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3\nObservation: Error: (sqlite3.OperationalError) no such column: artist_name\n[SQL: SELECT artist_name, SUM(sales) AS total_sales FROM artists GROUP BY artist_name ORDER BY total_sales DESC LIMIT 3]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)\nThought: We need to use sql_db_schema to check the correct table fields.\nAction: sql_db_schema\nAction Input: artists\nObservation: \nCREATE TABLE artists (\n\t\"ArtistId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"ArtistId\")\n)\n\n/*\n3 rows from artists table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\nThought:"
  ]
}
[llm/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 23:llm:OpenAI] [842ms] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": " We need to use sql_db_query_checker to double check our query before executing it.\nAction: sql_db_query_checker\nAction Input: SELECT Name, SUM(sales) AS total_sales FROM artists GROUP BY Name ORDER BY total_sales DESC LIMIT 3",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "Generation"
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 24:parser:ReActSingleInputOutputParser] Entering Parser run with input:
{
  "input": " We need to use sql_db_query_checker to double check our query before executing it.\nAction: sql_db_query_checker\nAction Input: SELECT Name, SUM(sales) AS total_sales FROM artists GROUP BY Name ORDER BY total_sales DESC LIMIT 3"
}
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence > 24:parser:ReActSingleInputOutputParser] [0ms] Exiting Parser run with output:
[outputs]
[chain/end] [1:chain:SQL Agent Executor > 18:chain:RunnableSequence] [854ms] Exiting Chain run with output:
[outputs]
[tool/start] [1:chain:SQL Agent Executor > 25:tool:sql_db_query_checker] Entering Tool run with input:
"SELECT Name, SUM(sales) AS total_sales FROM artists GROUP BY Name ORDER BY total_sales DESC LIMIT 3"
[chain/start] [1:chain:SQL Agent Executor > 25:tool:sql_db_query_checker > 26:chain:LLMChain] Entering Chain run with input:
{
  "query": "SELECT Name, SUM(sales) AS total_sales FROM artists GROUP BY Name ORDER BY total_sales DESC LIMIT 3",
  "dialect": "sqlite"
}
[llm/start] [1:chain:SQL Agent Executor > 25:tool:sql_db_query_checker > 26:chain:LLMChain > 27:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [

'The top 3 best selling artists are U2, Iron Maiden, and Led Zeppelin.'

In [21]:
agent_executor.run("Describe the playlisttrack table")

[chain/start] [1:chain:AgentExecutor] Entering Chain run with input:
{
  "input": "Describe the playlisttrack table"
}
[chain/start] [1:chain:AgentExecutor > 2:chain:LLMChain] Entering Chain run with input:
{
  "input": "Describe the playlisttrack table",
  "agent_scratchpad": "",
  "stop": [
    "\nObservation:",
    "\n\tObservation:"
  ]
}
[llm/start] [1:chain:AgentExecutor > 2:chain:LLMChain > 3:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [
    "You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\n\nsql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', using sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: 'table1, table2, table3'\nsql_db_list_tables: Input is an empty string, output is a comma separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: Describe the playlisttrack table\nThought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables."
  ]
}
[llm/end] [1:chain:AgentExecutor > 2:chain:LLMChain > 3:llm:OpenAI] [1.76s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "Action: sql_db_list_tables\nAction Input: ",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        }
      }
    ]
  ],
  "llm_output": {
    "token_usage": {
      "total_tokens": 641,
      "completion_tokens": 15,
      "prompt_tokens": 626
    },
    "model_name": "text-davinci-003"
  },
  "run": null
}
[chain/end] [1:chain:AgentExecutor > 2:chain:LLMChain] [1.76s] Exiting Chain run with output:
{
  "text": "Action: sql_db_list_tables\nAction Input: "
}
[tool/start] [1:chain:AgentExecutor > 4:tool:sql_db_list_tables] Entering Tool run with input:
""
[tool/end] [1:chain:AgentExecutor > 4:tool:sql_db_list_tables] [0ms] Exiting Tool run with output:
"albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks"
[chain/start] [1:chain:AgentExecutor > 5:chain:LLMChain] Entering Chain run with input:
{
  "input": "Describe the playlisttrack table",
  "agent_scratchpad": "Action: sql_db_list_tables\nAction Input: \nObservation: albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks\nThought:",
  "stop": [
    "\nObservation:",
    "\n\tObservation:"
  ]
}
[llm/start] [1:chain:AgentExecutor > 5:chain:LLMChain > 6:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [
    "You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\n\nsql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', using sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: 'table1, table2, table3'\nsql_db_list_tables: Input is an empty string, output is a comma separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: Describe the playlisttrack table\nThought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.\nAction: sql_db_list_tables\nAction Input: \nObservation: albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks\nThought:"
  ]
}
[llm/end] [1:chain:AgentExecutor > 5:chain:LLMChain > 6:llm:OpenAI] [1.49s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": " The playlisttrack table looks relevant, so I should query the schema of that table.\nAction: sql_db_schema\nAction Input: playlist_track",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        }
      }
    ]
  ],
  "llm_output": {
    "token_usage": {
      "total_tokens": 712,
      "completion_tokens": 33,
      "prompt_tokens": 679
    },
    "model_name": "text-davinci-003"
  },
  "run": null
}
[chain/end] [1:chain:AgentExecutor > 5:chain:LLMChain] [1.49s] Exiting Chain run with output:
{
  "text": " The playlisttrack table looks relevant, so I should query the schema of that table.\nAction: sql_db_schema\nAction Input: playlist_track"
}
[tool/start] [1:chain:AgentExecutor > 7:tool:sql_db_schema] Entering Tool run with input:
"playlist_track"
[tool/end] [1:chain:AgentExecutor > 7:tool:sql_db_schema] [5ms] Exiting Tool run with output:
"CREATE TABLE playlist_track (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES playlists ("PlaylistId"),
	FOREIGN KEY("TrackId") REFERENCES tracks ("TrackId")
)

/*
3 rows from playlist_track table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/"
[chain/start] [1:chain:AgentExecutor > 8:chain:LLMChain] Entering Chain run with input:
{
  "input": "Describe the playlisttrack table",
  "agent_scratchpad": "Action: sql_db_list_tables\nAction Input: \nObservation: albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks\nThought: The playlisttrack table looks relevant, so I should query the schema of that table.\nAction: sql_db_schema\nAction Input: playlist_track\nObservation: \nCREATE TABLE playlist_track (\n\t\"PlaylistId\" INTEGER NOT NULL, \n\t\"TrackId\" INTEGER NOT NULL, \n\tPRIMARY KEY (\"PlaylistId\", \"TrackId\"), \n\tFOREIGN KEY(\"PlaylistId\") REFERENCES playlists (\"PlaylistId\"), \n\tFOREIGN KEY(\"TrackId\") REFERENCES tracks (\"TrackId\")\n)\n\n/*\n3 rows from playlist_track table:\nPlaylistId\tTrackId\n1\t3402\n1\t3389\n1\t3390\n*/\nThought:",
  "stop": [
    "\nObservation:",
    "\n\tObservation:"
  ]
}
[llm/start] [1:chain:AgentExecutor > 8:chain:LLMChain > 9:llm:OpenAI] Entering LLM run with input:
{
  "prompts": [
    "You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\n\nsql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', using sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: 'table1, table2, table3'\nsql_db_list_tables: Input is an empty string, output is a comma separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: Describe the playlisttrack table\nThought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.\nAction: sql_db_list_tables\nAction Input: \nObservation: albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks\nThought: The playlisttrack table looks relevant, so I should query the schema of that table.\nAction: sql_db_schema\nAction Input: playlist_track\nObservation: \nCREATE TABLE playlist_track (\n\t\"PlaylistId\" INTEGER NOT NULL, \n\t\"TrackId\" INTEGER NOT NULL, \n\tPRIMARY KEY (\"PlaylistId\", \"TrackId\"), \n\tFOREIGN KEY(\"PlaylistId\") REFERENCES playlists (\"PlaylistId\"), \n\tFOREIGN KEY(\"TrackId\") REFERENCES tracks (\"TrackId\")\n)\n\n/*\n3 rows from playlist_track table:\nPlaylistId\tTrackId\n1\t3402\n1\t3389\n1\t3390\n*/\nThought:"
  ]
}
[llm/end] [1:chain:AgentExecutor > 8:chain:LLMChain > 9:llm:OpenAI] [1.97s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": " I now know the final answer\nFinal Answer: The playlist_track table contains two columns, PlaylistId and TrackId, which are both integers and form a primary key. It also has two foreign keys, one to the playlists table and one to the tracks table.",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        }
      }
    ]
  ],
  "llm_output": {
    "token_usage": {
      "total_tokens": 906,
      "completion_tokens": 56,
      "prompt_tokens": 850
    },
    "model_name": "text-davinci-003"
  },
  "run": null
}
[chain/end] [1:chain:AgentExecutor > 8:chain:LLMChain] [1.98s] Exiting Chain run with output:
{
  "text": " I now know the final answer\nFinal Answer: The playlist_track table contains two columns, PlaylistId and TrackId, which are both integers and form a primary key. It also has two foreign keys, one to the playlists table and one to the tracks table."
}
[chain/end] [1:chain:AgentExecutor] [5.24s] Exiting Chain run with output:
{
  "output": "The playlist_track table contains two columns, PlaylistId and TrackId, which are both integers and form a primary key. It also has two foreign keys, one to the playlists table and one to the tracks table."
}

'The playlist_track table contains two columns, PlaylistId and TrackId, which are both integers and form a primary key. It also has two foreign keys, one to the playlists table and one to the tracks table.'